<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Repo Reporter</h1>
      <form action="" method="get" role="form">
        <table class="table table-striped table-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Start date:</th>
              <th scope="col">End date:</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="date" name="start" value="{{report.start_formatted()}}" class="form-control"></td>
              <td><input type="date" name="end" value="{{report.end_formatted()}}" class="form-control"></td>
              <td><button type="submit" class="btn btn-primary">Submit</button></td>
            </tr>
            <tr>
              <td>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Name</label>
                  </div>
                  <select class="custom-select" name="name">
                    {% for name in names %}
                    {% if name == report.name %}
                    <option selected name="name" value="{{name}}">{{name}}</option>
                      {% else %}
                    <option name="name" value="{{name}}">{{name}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </td>
              <td>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Platform</label>
                  </div>
                  <select class="custom-select" name="platform">
                    {% for platform in platforms %}
                    {% if platform == report.platform %}
                    <option selected value="{{platform}}">{{platform}}</option>
                      {% else %}
                    <option value="{{platform}}">{{platform}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        </form>
      <table class="table table-striped table-light table-hover">
        <thead class="thead-light">
          <th scope="col">{{report.date_range()}}</th>
          <th scope="col">Visitors</th>
          <th scope="col">Visitors (unique)</th>
          <th scope="col">Clones</th>
          <th scope="col">Clones (unique)</th>
        </thead>
        <tbody>
          {% for insight in report.insights %}
          <tr>
            <th scope="row">{{insight.repo.full_name()}} <a href="{{insight.repo.url()}}">(repo)</a></th>
            <td>{{insight.view_count}}</td>
            <td>{{insight.view_uniques}}</td>
            <td>{{insight.clone_count}}</td>
            <td>{{insight.clone_uniques}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% for insight in report.insights %}
        <h3>{{insight.repo.full_name()}}</h3>
        <table class="table table-striped table-light table-hover">
          <thead class="thead-light">
            <th scope="col">Referrer</th>
            <th scope="col">Count (normalized)</th>
            <th scope="col">Unique (normalized)</th>
          </thead>
          <tbody>
            {% for referrer in insight.referrers %}
            <tr>
              <td>{{referrer.referrer}}</td>
              <td>{{referrer.count}}</td>
              <td>{{referrer.uniques}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </body>
</html>
